# Following is removed for legacy & sensitive data purposes
config.json
.tmp/
.ipynb*
__pycache__/

# Development and testing
options-trader/
notebooks/
profiler.txt
.vscode/

# Local cache
.trader-cache/
.test-runs/

# Terraform
*.terraform*
*.tfvars
*.tfstate*

# Node
node_modules/
package-lock.json

# Serverless
.serverless/
.requirements/
